
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
section{
    padding-top: 37px !important;
    button{
        padding-left: 20px;
     }
     .btn-edit{
        margin-left: 350px;
        padding-left: 80px;
        padding-right: 80px;
        background-color: orange;
     }
}
// .info{
    

// }
col-md-9 {
    margin-left: 332px;
    font-size: 20px;
    font-weight: bold;
 }
// button{
//     font-family: 'Roboto', sans-serif;   
//     cursor: pointer;   
//     display: inline-block;   
//     font-size: 17px;  
//     font-weight: 500;   
//     -webkit-box-shadow: none;   
//     box-shadow: none;    
//     outline: none;    
//     border: 0;   
//     color: #fff;    
//     border-radius: 3px;    
//     background-color: #ffbd3f;    
//     padding: 10px 36px;    
//     display: flex;
//     justify-content: center;
//     align-items: center;
     
//     width: 100%;   
//     -webkit-transition: all 0.3s ease-in-out;   
//     transition: all 0.3s ease-in-out;   
// }